#root2 {
    background: rgb(222, 229, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.list-group {
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    top:51px
}
.form {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    &__input {
        padding: 10px 5px;
        border-radius: 5px;
        border: 0px;
        width: 700px;
        font-size: 20px;
    }
    &__input:focus { 
        border: rgb(98, 123, 90);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(139, 179, 127, 0.25);
    }
}
